* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 70px;
  background-color: #ec715f;
}

.header-container {
  width: 1024px;
  margin: 0 auto;
}

.logo {
  height: 70px;
  float: left;
}

.nav {
  float: right;
  line-height: 70px;
}

.nav-list {
  list-style: none;
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
}

.nav-list a {
  font-size: 16px;
  color: #fafafa;
  text-decoration: none;
}

#mv {
  width: 100%;
  height: 650px;
  background-image: url("img/mv.png");
  background-size: cover;
  background-position: center;
  color: #fafafa;
  text-align: center;
}

.mv-container h1 {
  padding-top: 200px;
  font-size: 64px;
}

.mv-container p {
  padding-top: 10px;
  font-size: 20px;
}

#portfolio {
  background-color: #eceff1;
}

.portfolio-container {
  width: 1024px;
  margin: 0 auto;
}

.heading {
  padding-top: 90px;
  text-align: center;
  color: #000000;
  font-size: 32px;
}

.heading::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #ec715f;
}

.heading-text {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 16px;
}

.portfolio-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 90px;
}

.portfolio {
  float: left;
  width: 300px;
  height: 250px;
  margin: 10px 10px 0 0;
  background-size: cover;
  background-position: center;
}

.img-1 {
  background-image: url(img/sketch.jpg);
}

.img-2 {
  background-image: url(img/websuku.png);
}

.img-3 {
  background-image: url(img/write.jpg);
}

.img-4 {
  background-image: url(img/webcamp.png);
}

.img-5 {
  background-image: url(img/talk.jpg);
}

.img-6 {
  background-image: url(img/webcamp-mother.png);
}

.portfolio:nth-child(-n + 3) {
  margin-top: 0px;
}

.portfolio:nth-child(3n) {
  margin-right: 0px;
}

.feature-container {
  padding-top: 90px;
  padding-bottom: 90px;
}

.strength-box {
  width: 980px;
  margin: 0px auto;
  display: flex;
}

.strength {
  width: 320px;
  text-align: center;
  padding-right: 10px;
}

.strength:nth-child(3) {
  padding-right: 0px;
}

.strength i {
  display: inline-block;
  font-size: 60px;
  margin: 0px auto;
}

.strength h3 {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.strength p {
  font-size: 16px;
  text-align: left;
}

#profile {
  background-color: #eceff1;
}

.profile-container {
  padding-top: 90px;
  padding-bottom: 90px;
}

.profile-box {
  width: 1024px;
  margin: 0 auto;
  padding-top: 30px;
}

.left-content {
  width: 50%;
  float: left;
}

.my-icon {
  background-image: url(img/my-icon.jpg);
  background-size: cover;
  background-position: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 0 auto;
}

.right-content {
  width: 50%;
  float: right;
}

.profile-title {
  padding-top: 20px;
  padding-bottom: 5px;
  font-size: 20px;
}

.profile-title:first-child {
  padding-top: 0px;
}

.contact-container {
  padding-top: 90px;
  padding-bottom: 90px;
}

.contact-box {
  width: 800px;
  padding-top: 30px;
  padding-bottom: 90px;
  margin: 0 auto;
}

.left-content-content {
  margin: 0 auto;
  width: 200px;
}

.right-content-content {
  margin: 0 auto;
  width: 200px;
}

.contact-title {
  font-size: 20px;
  padding-bottom: 5px;
}

.contact-text {
  font-size: 16px;
  padding-bottom: 20px;
}

.contact-text:last-child {
  padding-bottom: 0px;
}

.right-content i {
  display: inline-block;
  padding-right: 20px;
  font-size: 50px;
}

footer {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #ec715f;
}

.copyright {
  text-align: center;
  font-size: 16px;
  color: #fafafa;
}
